<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <ul ng-show="!show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="login()"><span class="glyphicon glyphicon-user">Login</span></button>
                </li>

            </ul>
             <ul ng-show="show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="logout()"><span class="glyphicon glyphicon-user">Logout</span></button>
                </li>

            </ul>
        <div>
            
            <div ng-show='show'>Welcome {{student}}
      
            <img src="img/user.png">
        
                <div class="container">
                    <h2>My Courses:</h2>
                    <div ng-show='availbleCourses'>You aren't enrolled in any courses! Try search some courses!
                    <ul class="list-group col-sm-6">
                        <li class="list-group-item "><a href='#landing2'>My Page</a></li>
                        <li class="list-group-item active"><a href='#account'>My Courses</a></li>
                        <li class="list-group-item" ng-show="stud"><a href='#addCourse'>Add Courses</a></li>
                        <li class="list-group-item"><a href='#search'>Search Courses</a></li>
                        <li class="list-group-item"><a href='#forum'>Forum</a></li>
                        <li class="list-group-item"><a href='#friends'>Friends</a></li>

                    </ul>
                    
                    </div>
                    <ul class="list-group">
<!--                        <li class="list-group-item"><a href='#account'>My Courses</a></li>
                      <li class="list-group-item"><a href='#account'>Search Courses</a></li>
                      <li class="list-group-item"><a href='#account'>Forum</a></li>
                      <li class="list-group-item"><a href='#account'>Friends</a></li>-->

                    </ul>
                  </div>
        
        
        
      </div> 
            
            
            
            
            
            
        </div>
         <div class='media-middle' ng-show='!show'>
            <img src='img/col.jpg'>
        </div>
    </body>
</html>
