
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
          <ul ng-show="!show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="login()"><span class="glyphicon glyphicon-user">Login</span></button>
                </li>

            </ul>
             <ul ng-show="show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="logout()"><span class="glyphicon glyphicon-user">Logout</span></button>
                </li>

            </ul>
    
        <div ng-show='show'>Welcome {{student}}
      
            <img src="img/user.png">
        
                <div class="container">
                    <h2>Agenda</h2>
                    <ul class="list-group col-sm-6">
                        <li class="list-group-item "><a href='#landing2'>My Page</a></li>
                        <li class="list-group-item"><a href='#account'>My Courses</a></li>
                        <li class="list-group-item" ng-show="stud"><a href='#addCourse'>Add Courses</a></li>
                        <li class="list-group-item"><a href='#search'>Search Courses</a></li>
                        <li class="list-group-item"><a href='#forum'>Forum</a></li>
                        <li class="list-group-item active" ><a href='#friends'>Friends</a></li>

                    </ul>
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/5OsO1VHmOy0" frameborder="0" allowfullscreen></iframe>
                <h2>Friends:</h2>
              
                  
                    <button class="btn btn-primary" ng-click="setvizFriends()">See Friends</button>
                    <button class="btn" ng-click="setsearchFriends()">Search Friends</button>
                 
                <table class="table" ng-show="frshow" >
                    <tr class="success">
                        <th>Friend</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Send Message</th>
                        
                    </tr>
                    <tr  ng-repeat="c in friends">
                        <td  class="active">{{c.name}}</td>
                        <td>{{c.userType}}</td>
                        <td class="active">{{c.email}}</td>  
                        <td><a href='https://mail.google.com/mail/u/0/#inbox' target="_blank">email</a></td>
                    </tr>
              </table>
                    <hr>
                    <div ng-show='search' class="form-group">
                    <label for="search" class="col-sm-2 control-label">Search</label>
                    <div class="col-sm-4">
                        <input type="text" data-ng-model="toSearch" class="form-control" id="search" placeholder="Search">
                    </div>
                    
                     <div class="col-sm-2">
                       <select data-ng-model="type" class="btn btn-default">
                            <option value="domain">Name</option>
                            <option value="professor">Professor</option>
                     </select>
                     </div>
                     <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="msg()">   Search  </button>                        
                    </div>
                </div>
                </div>
                    {{display}}
                </div>
        
 
              
        
      </div> 
        <div class='media-middle' ng-show='!show'>
            <img src='img/col.jpg'>
        </div>
        
    </body>
   
</html>

