
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
          <ul ng-show="!show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="login()"><span class="glyphicon glyphicon-user">Login</span></button>
                </li>

            </ul>
             <ul ng-show="show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="logout()"><span class="glyphicon glyphicon-user">Logout</span></button>
                </li>

            </ul>
    
        <div ng-show='show'>Welcome {{student}}
      
            <img src="img/user.png">
        
                <div class="container">
                    <h2>Agenda</h2>
                    <ul class="list-group col-sm-6">
                        <li class="list-group-item active"><a href='#landing2'>My Page</a></li>
                        <li class="list-group-item"><a href='#account'>My Courses</a></li>
                        <li class="list-group-item" ng-show="stud"><a href='#addCourse'>Add Courses</a></li>
                        <li class="list-group-item"><a href='#search'>Search Courses</a></li>
                        <li class="list-group-item"><a href='#forum'>Forum</a></li>
                        <li class="list-group-item"><a href='#friends'>Friends</a></li>

                    </ul>
                    
                    <iframe class="col-sm-6" width="420" height="315" src="https://www.youtube.com/embed/wrzzbaomLmc" frameborder="0" allowfullscreen></iframe>
                   
                    <img class="col-sm-6" src="img/2students.jpg">
                   
                    <iframe class="col-sm-6" width="560" height="315" src="https://www.youtube.com/embed/uOrzmFUJtrs" frameborder="0" allowfullscreen></iframe>
                    <iframe class="col-sm-6" width="560" height="315" src="https://www.youtube.com/embed/FeLpvgAVtU8" frameborder="0" allowfullscreen></iframe>
                </div>
        
        
        
      </div> 
        <div class='media-middle' ng-show='!show'>
            <img src='img/col.jpg'>
        </div>
        
    </body>
   
</html>
