<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <ul ng-show="!show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="login()"><span class="glyphicon glyphicon-user">Login</span></button>
                </li>

            </ul>
             <ul ng-show="show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="logout()"><span class="glyphicon glyphicon-user">Logout</span></button>
                </li>

            </ul>
        <div>
            
            <div ng-show='show'>Welcome {{student}}
      
            <img src="img/user.png">
        <div><h3>Search Courses</h3></div>
        <div class="container">
                    <h2>Agenda</h2>
                    <ul class="list-group col-sm-6">
                        <li class="list-group-item "><a href='#landing2'>My Page</a></li>
                        <li class="list-group-item"><a href='#account'>My Courses</a></li>
                        <li class="list-group-item" ng-show="stud"><a href='#addCourse'>Add Courses</a></li>
                        <li class="list-group-item active"><a href='#search'>Search Courses</a></li>
                        <li class="list-group-item"><a href='#forum'>Forum</a></li>
                        <li class="list-group-item"><a href='#friends'>Friends</a></li>

                    </ul>
             <form class="form-horizontal col-sm-6" ng-submit="searchProject()" >
                 
                <div class="form-group">
                    <label for="search" class="col-sm-2 control-label">Search</label>
                    <div class="col-sm-4">
                        <input type="text" data-ng-model="search" class="form-control" id="search" placeholder="Search">
                    </div>
                    
                     <div class="col-sm-2">
                       <select data-ng-model="type" class="btn btn-default">
                            <option value="domain">Domain</option>
                            <option value="professor">Professor</option>
                     </select>
                     </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="showT()">   Search  </button>                        
                    </div>
                </div>
            </form>  
        <br>
          </div>   
        
            </form> 
        
            <table class="table table-striped" border="1" ng-show="showTable" >
                    <tr bgcolor="#9acd32">
                        <th>Title</th>
                        <th>Professor</th>
                        <th>Description</th>
                        <th>View</th>
                    </tr>
<!--                    <tr ng-repeat="c in courses">
                        <td>{{c.title}}</td>
                        <td>{{c.professor}}</td>
                        <td>{{c.description}}</td>  
                    </tr>-->
                    <tr >
                        <td>AngularJS</td>
                        <td>Test Professor</td>
                        <td>Learn to use Angular.js by adding behavior to your HTML and speeding up your application's responsiveness. Get ready to dive into all the angles of Angular.js!</td>  
                        <td><a href="">See more..</a></td>
                    </tr>

                </table>
        <hr>
<div class='media-middle' ng-show='!show'>
            <img src='img/col.jpg'>
        </div>
    </body>
</html>
