<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Add Course</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
           <ul ng-show="!show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="login()"><span class="glyphicon glyphicon-user">Login</span></button>
                </li>

            </ul>
             <ul ng-show="show" class="nav navbar-btn navbar-fixed-top">
                <li>
                    <button class="btn" ng-click="logout()"><span class="glyphicon glyphicon-user">Logout</span></button>
                </li>

            </ul>
        <div>
            
            <div ng-show='show'>Welcome {{student}}
      
            <img src="img/user.png">
            <div class="container">
                    <h2>Agenda</h2>
                    <ul class="list-group col-sm-6">
                        <li class="list-group-item active"><a href='#landing2'>My Page</a></li>
                        <li class="list-group-item"><a href='#account'>My Courses</a></li>
                        <li class="list-group-item active" ng-show="stud"><a href='#addCourse'>Add Courses</a></li>
                        <li class="list-group-item"><a href='#search'>Search Courses</a></li>
                        <li class="list-group-item"><a href='#forum'>Forum</a></li>
                        <li class="list-group-item"><a href='#friends'>Friends</a></li>

                    </ul>
            </div>
        <div><h3>Add Course</h3> </div>
        <div ng-hide="{{hideUploadForm}}">
           

            <form class="form-horizontal "  >
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="title" class="form-control" id="username" placeholder="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="budget" class="col-sm-2 control-label">Domain</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="budget" class="form-control" id="budget" placeholder="Domain">
                    </div>
                </div>
                <div class="form-group">
                    <label for="duration" class="col-sm-2 control-label">Duration</label>
                    <div class="col-sm-2">
                        <input type="text" data-ng-model="duration" class="form-control" id="duration" placeholder="Duration">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="Partners:" class="col-sm-2 control-label">Chapters: </label>
                    <div class="col-sm-2">
                        <table class=" table table-striped">
<!--                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Surname</th>
                                    <th>Title</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="x in partners">
                                <td>{{x.name}}</td>
                                <td>{{x.surname}}</td>
                                <td>{{x.type}}</td>
                            </tr>-->
                            <tr>
                                <td colspan="3">
                                    <button class="btn btn-info" ng-click="addPartner()">
                                        <span class="glyphicon glyphicon-plus"></span>  Add Chapter
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


                <div class="form-group">
                    <label for="domain" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-4">
                        <input type="text" data-ng-model="domain" class="form-control" id="duration" placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="objective" class="col-sm-2 control-label">Objective</label>
                    <div class="col-sm-6">
                        <textarea data-ng-model="objective" class="form-control" id="duration" placeholder="Objective"></textarea>
                    </div>
                </div>

                <div class="form-group ">
                    <label for="workPackages" class="col-sm-2 control-label">Lessons: </label>
                    <div class="col-sm-2">
                        <table class=" table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Duration</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="x in stages">
                                <td>{{x.name}}</td>
                                <td>{{x.duration}}</td>
                                <td>{{x.description}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button class="btn btn-info" ng-click="addStage()">
                                        <span class="glyphicon glyphicon-plus"></span>  Add Lesson
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="submitProposal()" class="btn btn-success">   Submit Course   </button>
                         
                    </div>
                </div>
                 
            </form>

           
            
            
            
           
           
            
        </div>
        
        
        
    </body>
</html>
