<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <script type="text/javascript" src="angular/angular.min.js"></script>
        <script type="text/javascript" src="angular/angular-route.min.js"></script>  
        <script type="text/javascript" src="js/AppRoute.js"></script>
        <script type="text/javascript" src="js/service/loginService.js"></script>
        <script type="text/javascript" src="js/controllers/homeController.js"></script> 
        <script type="text/javascript" src="js/controllers/contactController.js"></script> 
        <script type="text/javascript" src="js/controllers/myAccount.js"></script> 
        <script type="text/javascript" src="js/directives/fileModel.js"></script>

        <title>Landing</title>

        <!-- Bootstrap Core CSS -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="assets/css/clean-blog.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    </head>

    <body ng-app="AppModule" ng-controller="homeController">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="studentAccount.html"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#landing">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                        <li>
                            <!--<a ng-show="showUser" href="studentAccount.html">{{user.username}}</a>-->
                        </li>
                    </ul>
                    <ul ng-show="!showUser" class="nav navbar-btn navbar-right">
                        <li>
                            <button class="btn" ng-click="login()"><span class="glyphicon glyphicon-user">Login</span></button>
                        </li>

                    </ul>
                     <ul ng-show="showUser" class="nav navbar-btn navbar-right">
                        <li>
                            <button class="btn" ng-click="logout()"><span class="glyphicon glyphicon-user">Logout</span></button>
                        </li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <header class="intro-header" style="background-image: url('assets/img/home-bg2.jpg')">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <div class="site-heading">
                            <h1>Social LMS</h1>
                            <hr class="small">
                            <span class="subheading">Connecting Education</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">
                                Social Learning inspires people 
                            </h2>
                            <h3 class="post-subtitle">
                                Recognizing that most learning is not done through formal training courses, it helps streamline the learning process by applying analytics, helping reveal opportunities to optimize content, improve efficiency, and increase longevity and relevance of the material.
                            </h3>
                            <iframe width="420" height="315" src="https://www.youtube.com/embed/H-IJzoE4Xls" frameborder="0" allowfullscreen></iframe>
                        </a>
                        <p class="post-meta">Posted by <a href="#">Admin</a> on January 04, 2016</p>
                    </div>
                    <hr>

                    <!-- Pager -->
                    <ul class="pager">
                        <li class="next">
                            <a href="#">Older Posts &rarr;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        <ul class="list-inline text-center">
                            <li>
                                <a href="https://github.com/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.tumblr.com/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="copyright text-muted">Copyright &copy; Social LMS 2015</p>
                    </div>
                </div>
            </div>
        </footer>


    <modal title="Login" visible="showLogin">
        <form class="form-horizontal "  >
        <div class="form-group">
                <label for="username" class="col-sm-6 control-label">Are you a student?</label>
                <div class="col-sm-4">
                    <a href="studentAccount.html#/landing"><button type="button" ng-click="" class="btn btn-default">yes</button></a>
               
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-6 control-label">Are you a professor?</label>
                <div class="col-sm-4">
                 <a href="studentAccount.html#/landing"> <button type="button" ng-click="" class="btn btn-default">yes</button></a>
                </div>
            </div>
        </form>
         
        </form>
<!--        <form class="form-horizontal "  >
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" data-ng-model="user.username" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" data-ng-model="user.password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <button type="button" ng-click="submit()"class="btn btn-default">   Sign in   </button>
                    <button type="button" ng-click="registerModal()" class="btn btn-default">Register</button>
                </div>
            </div>
        </form>
        
        <div class="alert alert-danger" ng-show="showSuccessAlert">
        <button type="button" class="close" data-ng-click="switchBool('showSuccessAlert')">x</button>{{successTextAlert}}</div>-->
     
    </modal> 

    <modal title="Register" visible="showRegister">
        <form class="form-horizontal" ng-submit="register()" >
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-6">
                    <input type="text" data-ng-model="user.username" class="form-control" id="username" placeholder="Username">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">Password</label>
                <div class="col-sm-6">
                    <input type="password" data-ng-model="user.password" class="form-control" id="password" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-4 control-label">Type:</label>
                <div class="col-sm-6">
                    <select data-ng-model="user.type" class="btn btn-default">
                        <option value="student">Student</option>
                        <option value="professor">Professor</option>
                    </select>
                </div>

            </div>

            <div class="form-group">
                <label for="submit" class="col-sm-4 control-label">Register:</label>
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-default">Register</button>
                </div>
            </div>

        </form>
    </modal>

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/js/clean-blog.min.js"></script>


</body>

</html>
