<!DOCTYPE html>
<html ng-app="AppModule">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">     
        <script type="text/javascript" src="angular/angular.min.js"></script>
        <script type="text/javascript" src="angular/angular-route.min.js"></script>       
        <script type="text/javascript" src="js/AppRoute.js"></script>
        <script type="text/javascript" src="js/service/loginService.js"></script>
        <script type="text/javascript" src="js/controllers/LoginController.js"></script>    
        <script type="text/javascript" src="js/controllers/RegisterController.js"></script>  
        <script type="text/javascript" src="js/controllers/LogoutController.js"></script>
        <script type="text/javascript" src="js/controllers/myAccount.js"></script> 
        <script type="text/javascript" src="js/controllers/account.js"></script> 
        <script type="text/javascript" src="js/controllers/forumController.js"></script> 
        <script type="text/javascript" src="js/controllers/myPage2Ctrl.js"></script> 
        <script type="text/javascript" src="js/controllers/friendsCtrl.js"></script> 
        <script type="text/javascript" src="js/directives/fileModel.js"></script>
         <!-- Bootstrap Core CSS -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="assets/css/clean-blog.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

   </head>
  <body >
      <div ng-controller="myAccountController">
    <!-- Navigation -->
    <nav  class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="studentAccount.html"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
<!--            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a href="#landing"> Hello</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="contact.html">{{silvia}}</a>
                    </li>
                </ul>
                 
                  
            </div>-->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
         
    
    </nav>
    
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/img/banner.jpg')">
        <div class="container">
            <div>
                <div class="col-lg-8 col-lg-offset-2 col-md-12 col-md-offset-2">
                    <div class="page-heading">
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </header>

</div>
    <!-- Main Content -->
     <div ng-view>

            <!-- Dynamic content -->

        </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://github.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.tumblr.com/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Social LMS 2015</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assets/js/clean-blog.min.js"></script>
   

</body>
</html>

